.unnamed1 {
  font-family: "�ө���";
  font-size: 12px;
  line-height: 22px;
}
.unnamed1Copy {
  font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
  font-size: 16px;
  color: #990000;
  word-spacing: 40px;
  line-height: 30px;
}
blockquote {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-size: 12px;
}
.unnamed1Copy {
  font-family: "�ө���";
  font-size: 16px;
  line-height: 30px;
}
.unnamed2 {
  font-family: "�ө���";
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.05em;
}
